@import 'src/styles/variables';
.rentPriceContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > label {
    color: $black;
    font-size: 13px;
    font-weight: $fweight-big;
  }
}
.content {
  display: flex;
  gap: 18px;
}
