@import '@/shared/styles/variables';
.breadCrumbsWrapper {
  max-width: 1408px;
  display: flex;
  gap: 8px;
  margin-top: 24px;
  align-self: start;
  align-items: center;

  > span {
  color:$graphite;
    font-size: 13px;
    font-weight: 700;
  }
  > a {
    color: $graphite;
    font-size: 13px;
    font-weight: 600;
  }
}


.breadCrumbsWrapper > span:last-child {
  display: none;
}
