@import 'src/styles/variables';

.loaderWrapper {
  position: fixed;
  inset: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: hidden;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient($deep-blue 20px, transparent 0), linear-gradient(#ff3d00 20px, transparent 0),
    linear-gradient(#ff3d00 20px, transparent 0), linear-gradient($deep-blue 20px, transparent 0);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position:
    left top,
    left bottom,
    right top,
    right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.46875) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.initLoader {
  display: none;
}
