@import "src/styles/variables";
.subCategoriesList {
  display: flex;
  flex-direction: column;
}
.subCategoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.seeAll {
  display: flex;
  align-items: center;
  gap: 10px;
  & > p {
    color: $deep-blue;
    font-weight: $fweight-big;
  }
}