@import 'src/styles/variables';

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 10px;
  height: 6px;
  pointer-events: all;
  transition: transform 0.3s;
}
.isOpen {
  transform: rotate(180deg);
}
