@import 'src/shared/styles/variables';
.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 50px;
  border-radius:20px;
  border: 1px solid $light-graphite;
  background-color: $white;
}
.closeIcon {
  all: unset;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 100%;
  cursor: pointer;
}

.calendar {
  box-shadow: none !important;
  :global(.rmdp-header-values span) {
    font-weight: 700;
    font-size: 18px;
    color: #333;
  }
  :global(.rmdp-day-picker) {
    width: 100%;
    display: flex;
    gap: 38px;
  }
  :global(.rmdp-day-picker > div:nth-child(1)) {
    margin-right: 0 !important;
  }
  :global(.rmdp-week-day) {
    width: 42px;
    height: 42px;
    color: $graphite;
    font-size: 15px;
    font-weight: 500;
  }
  :global(.rmdp-week-day) {
    width: 42px;
    height: 42px;
    color: $graphite;
    font-size: 15px;
    font-weight: 500;
  }
  :global(.rmdp-day) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-block: 2px;
  }
  :global(.rmdp-ym .rmdp-day span) {
    width: 100%;
    height: 100%;
  }
  :global(.rmdp-day span) {
    width: 34px;
    height: 34px;
    font-weight: 600;
    font-size: 16px;
    position: static;
  }
  :global(.rmdp-range) {
    background-color: $sky-blue;
    box-shadow: none;
    margin-block: 2px;
  }
  :global(.rmdp-week .rmdp-range) {
    border-top: 0;
    border-bottom: 0;
  }
  :global(.rmdp-week:has(.rmdp-range.start) .rmdp-range) {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $deep-blue;
  }
  :global(.rmdp-week:has(.rmdp-range.start) ~ .rmdp-week .rmdp-range) {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $deep-blue;
  }
  :global(.rmdp-day-picker >div:first-child:has(.rmdp-week .start) + div .rmdp-range) {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $deep-blue;
  }
  :global(.rmdp-day:has(.reserved)) {
    pointer-events: none;
  }
  :global(.sd.reserved) {
    font-weight: 600;
    font-size: 16px;
    text-decoration: line-through;
    color: #c4c4c4;
  }
  :global(.rmdp-range.start) {
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: $deep-blue;
  }
  :global(.rmdp-range.end) {
    border-right: 2px solid;
    border-color: $deep-blue;
  }
  :global(.rmdp-day.rmdp-today span ) {
    border: 1px solid $black;
    color:$black;
    background-color: $white;
    border-radius: 90px;
  }
  :global(.rmdp-range-hover) {
    background-color: $sky-blue !important;
  }
  :global(.rmdp-day span) {
    color:$black;
  }
  :global(.rmdp-day.rmdp-range.start span) {
    background-color: $deep-blue;
    color:$white;
  }
  :global(.rmdp-day.rmdp-range.end span) {
    background-color: $deep-blue;
    color:$white;
  }
  :global(.rmdp-arrow-container) {
    align-items: center;
  }
  :global(.rmdp-arrow-container:hover) {
    background-color: $deep-blue;
  }
  :global(.rmdp-arrow) {
    border-color:$deep-blue;
    margin: 0 1px 0 0;
  }
  :global(.rmdp-day.rmdp-selected span:not(.highlight)) {
    background-color: $hover-deep-blue;
  }
  :global(.rmdp-week) {
    justify-content: unset;
  }

}
.contentWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.dateInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  & > .daysNumber {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
  }
& > .periodString {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: $graphite;
  }

}
.inputsWrapper {
  display: flex;
  gap: 12px;
}
.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
