@import "src/styles/variables";

.faqSectionWrapper {
  width: calc(100% - 350px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 840px;
  border-radius: 14px;
  background-color: #EFF6FF;
  background-image: url("../../assets/image/FAQBackground.png") ;
  background-repeat: no-repeat;
}

.faqHeader {
  color: $black;
  text-align: center;
  font-size: 24px;
  font-weight: $fweight-big;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:64px;
}