@import '@/shared/styles/variables';

.tabWrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;
  & p {
    color: $black;
    font-size: 18px;
    font-weight: $fweight-big;
    transition: color 0.5s;
  }
  & .tabActiveLine {
    background-color: $deep-blue;
    opacity: 0;
    height: 3px;
    transition: opacity 0.5s;
    border-radius: 90px;
  }
}
.activeBar {
  & p {
    color: $deep-blue;
    font-size: 18px;
    font-weight: $fweight-big;
  }
  & .tabActiveLine {
    background-color: $deep-blue;
    opacity: 1;
  }
}
.count {
  color: $deep-blue;
  font-size: 12px;
  font-weight: $fweight-big;
}
.content {
  display: flex;
  gap: 8px;
}
