@import '@/shared/styles/variables';
.headerLinkWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  height: 62px;
  & > p {
    color: $black;
    font-size: 14px;
    font-weight: $fweight-big;
  }
  & > img svg path {
    display: none;
  }
}
