@import "src/shared/styles/variables";
.faqContainer {
  display: flex;
  max-width: 972px;
  margin-inline: 20px;
  margin-top: 34px;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  @include breakpoint(lg) {
    max-width: 926px;
  }
}
