@import '@/shared/styles/variables';

.faqSectionWrapper {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 64px;
  border-radius: 14px;
  margin-top: 100px;
  background-color: #eff6ff;
}
.faqContainer {
  display: flex;
  max-width: 1100px;
  margin-inline: 20px;
  margin-top: 34px;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.faqHeader {
  color: $black;
  text-align: center;
  font-size: 24px;
  font-weight: $fweight-big;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.imageWrapper {
  position: absolute;
  z-index: 0;
}
.imageWrapper:nth-child(1) {
  left: 0;
  bottom: 0;
}
.imageWrapper:nth-child(2) {
  right: 0;
  top: 0;
}
.imageWrapper > img {
  width: 100%;
  height: 100%;
}
