.swiperButtonsWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.swiperButtonsWrapper > button {
  width: fit-content;
  position: absolute;
  background: none;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  pointer-events: all;
}
.swiperButtonsWrapper > button:first-of-type {
  left: 32px;
}
.swiperButtonsWrapper > button:last-of-type {
  right: 32px;
}
.swiperButtonsWrapper > button:hover {
  opacity: 1;
}
.leftBlur:hover ~ button:first-of-type {
  opacity: 1;
}
.rightBlur:hover ~ button:last-of-type {
  opacity: 1;
}
.blur {
  position: absolute;
  height: 100%;
  z-index: 1;
  pointer-events: all;
}
.blur > img {
  min-width: 100px;
  width: 100%;
  height: 100%;
}
.leftBlur {
  top: 0;
  left: 0;
}

.rightBlur {
  top: 0;
  right: 0;
}
