@import 'src/styles/variables';
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.active {
  background-color: $deep-blue;
  color: $white;
}
.active:hover {
  background-color: $deep-blue;
}
.productQualityContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
