@import "src/styles/variables";
.card {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:86px;
  border-radius: 14px;
  padding: 20px;
  background: #F4F4F4;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > h3 {
    color: $black;
    font-size: 18px;
    font-weight: $fweight-big;
  }

}
.wrapper {
  display: flex;
  gap:16px;
}
.contentItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
  }
  & > div > p {
    width: max-content;
    color: $graphite;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }
  & > p {
    color: $black;
    font-size: 18px;
    font-weight: $fweight-big;
  }
}

.contentItem:not(:last-child) {
  border-right: 1px solid $light-graphite;
  padding-right: 20px;

}
.additionalContent {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.text {
  display: flex;
  gap:8px;
  justify-content: center;
  align-items: center;

  & > p {
    width: max-content;
    color: #55C94D;
    font-size: 13px;
    font-weight: $fweight-big;
  }

}