@import "src/styles/variables";

.headerLinks {
  width: 1408px;
  overflow: hidden;
  margin-inline: auto;
  position: relative;
  padding-block: 20px;

  @include breakpoint(lg) {
    width: 1230px;
  }
}
