@import '@/shared/styles/variables';

.subCategoryWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & > h3 {
    color: $black;
    font-size: 18px;
    font-weight: $fweight-big;
  }
}
.varietiesWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.arrow {
  border: solid $deep-blue;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.rotateArrow {
  margin-top: 5px;
  transform: rotate(-135deg);
}
.seeAll {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  & > p {
    color: $deep-blue;
    font-size: 13px;
    font-weight: $fweight-big;
  }
}
