@import '../../styles/variables.scss';

.autorizationWrapper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.componentWrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.leftBanner {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 23px;
  height: 91%;
  text-align: center;
  color: #fff;
  display: flex;
  max-width: 520px;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  margin: 0 100px 0 40px;
}

.leftBannerTitle {
  margin-top: 30px;
}

.leftBannerDescr {
  width: 70%;
  margin-top: 80px;
}

.dobreImage {
  height: 100%;
}
