@import "src/styles/variables";
.customDatePickerWrapper {
  display: flex;
  align-items: center;
  gap: 26px;
  height: 36px;
  background: $white;
  border-radius: 8px;
  padding-inline: 14px;
  padding-block: 10px;
  border: 1px solid $light-graphite;

}

.content {
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;

  & > p {
    color: $graphite;
    font-size: 15px;
    font-weight: 600;
  }

}