.brandsSectionWrapper {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.brandsContainer {
  width: 100%;
  display: flex;
  gap: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  width: calc(100% - 350px);
}
