$black: #000;
$white: #fff;
$blue: #2540e4;
$graphite: #646e74;
$light-graphite: #e2e5e9;
$sky-blue: #eff6ff;
$font-big: 65px;
$font-medium: 20px;
$font-default: 16px;
$fweight-big: 700;
$fweight-medium: 500;
$fweight-small: 400;
$main-wrapper: 1330px;
