@import "src/styles/variables";
.subCategoryItem {
  background-color: $white;
  color:$black;
  font-size: 15px;
 font-weight: 600;
  border-radius: 8px;
  width: 296px;
  padding-block: 10px;
  padding-left: 16px;
}
.active {
  background-color: $sky-blue;
  color: $deep-blue;
  font-weight: $fweight-big;
}