@import '@/shared/styles/variables';

.wrapper {
  width: 100%;
  margin-top: 100px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 46px;
}

.contentWrapper {
  display: flex;
  margin-top: 18px;
  gap: 20px;
 }

.testimonialsImage {
  border-radius: 16px;
}
.imageWrapper {
  width: 575px;
  height: 690px;
  @include breakpoint(lg) {
    width: 500px;
  }
  & > img {
    width: 100%;
    height: 100%;
  }
}
.commentWrapper {
  display: flex;
  width: 813px;
  flex-direction: column;
  gap: 20px;
  @include breakpoint(lg) {
    width: 710px;
  }
}
