@import "src/styles/variables";

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  & > p {
    color: $white;
    font-size: 12px;
    font-weight: $fweight-big;
  }
}
.availableItem {
  background-color: #55C94D;
}
.unAvailableItem {
  background: linear-gradient(104deg, #f59045 0%, #e65071 100%);

}