@import "src/shared/styles/variables";
.popularToolsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  column-gap: 20px;
  row-gap: 30px;
  @include breakpoint(lg) {
    grid-template-columns: repeat(6, 1fr);
  }
}
