@import '@/shared/styles/variables';

.rentTimeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #f4f4f4;
  border-radius: 8px;
  gap: 12px;
  padding-inline: 12px;
}
.content {
  display: flex;
  gap: 10px;
  max-width: 274px;
  transition: transform .3s;
  pointer-events: none;
  & > div > p {
    font-size: 9px;
    font-weight: $fweight-big;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    color: $graphite;
  }

  & > div > span {
    font-size: 14px;
    font-weight: $fweight-big;
    letter-spacing: 0.36px;
    color: #000;
  }
}
.rentContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:16px;
  overflow: hidden;
}
.rentTimeButton {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: opacity .3s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  & > .rentTimeButton {
    opacity: 0;
    pointer-events: none;
  }
  & > .rentTimeButton:first-child {
    transform: rotate(180deg);
  }
  & > .rentTimeButton.prevVisible {
  opacity: 1;
  pointer-events: all;
}
}
