@import '@/shared/styles/variables';
.testimonialsWrapper {
  max-width: 1050px;
  min-width: 930px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.askAQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  & > p {
    color: $black;
    font-size: 15px;
    font-weight: 600;
  }
  border-bottom: 1px solid $light-graphite;
}
.seeAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: center;
  & > p {
    color: $graphite;
    font-size: 13px;
    font-weight: 600;
  }
}
