@import 'src/styles/variables';

.sellerTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}
.content {
  display: flex;
  gap: 12px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  & p {
    font-size: 15px;
    color: $black;
    font-weight: 600;
  }
}
.active {
  background-color: $deep-blue;
  color: $white;
}
.active:hover {
  background-color: $deep-blue;
}
