@import '@/shared/styles/variables';
.tariffCard {
  position: relative;
  width: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;

  & > img {
    position: absolute;
    top: 6px;
    right: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 14px;
  padding-inline: 10px;
  & > p:nth-child(1) {
    color: $graphite;
    font-size: 11px;
    font-weight: $fweight-big;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    line-height: 8px;
  }
  & > p:nth-child(2) {
    color: $black;
    font-size: 15px;
    font-weight: $fweight-big;
    line-height: 12px;
  }
}
