@import 'src/styles/variables';
.header {
  width: calc(100% - 64px);
  padding: 22px 0 26px 0;
  display: flex;
  gap:30px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.locationWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.locationWrapper > p {
  font-size: 15px;
  font-weight: 700;
}
.cartCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;

  & > p {
    color: $black;
    font-size: 12px;
    font-weight: $fweight-big;
  }
}
.cartCircle:hover {
  background-color: #eee;
}
.cartCircle:active {
  background-color: #c9c9c9;
}
.cartCircle > img {
  position: absolute;
}

.leftBlock {
  display: flex;
  gap: 30px;
  width: 50%;

  & > div:nth-child(2) {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

}
.header .leftBlock {
  width: 50%;
}
.catalogHeader .leftBlock {
  width: auto;
}
.content {
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;
  width: 50%;
}
.catalogHeader .content {
  width: auto;
  justify-content: center;
}

.header .topBar {
  display: none;
}
.inputWrapper {
  display: none;
}
.catalogHeader {
  padding-top: 44px;
}
.catalogHeader .logo {
  flex:0;
}
.catalogHeader .content > button:nth-child(2) {
  display: none;
}
.catalogHeader .locationWrapper {
  display: none;
}
.catalogHeader .content {
  order:1;
}

.catalogHeader .topBar {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top:8px;
  justify-content: space-between;
}

.catalogHeader .inputWrapper {
  display: flex;
  flex:1;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 2px solid $light-graphite;
  background-color: $white;
  & input::placeholder {
      opacity: 1;
    }
  order:1;
  padding: 8px 10px 8px 20px;
  }

.inputContent {
  display: flex;
  align-items: center;
  gap:14px;
  width: 80%;

}
.geoLocationInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:6px;
}
.iconsWrapper {
  display: flex;
  gap:30px;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p {
    color: $black;
    font-size: 12px;
    font-weight: $fweight-big;
  }
}

.circleInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #E42553;
  color: $white;
  font-size: 11px;
  font-weight: $fweight-big;
}

.contentGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.contentGroup:nth-child(1) > p {
  color: $black;
  font-size: 13px;
  font-weight: 600;

}
.contentGroup:nth-child(2) > p {
  font-size: 13px;
  font-weight: $fweight-big;

}

.contentGroup:nth-child(2) > p:not(:last-child) {
   color: $graphite;
}

.contentGroup:nth-child(2) > p:last-child {
  border-radius: 4px;
  background: $sky-blue;
  padding-block: 4px;
  padding-inline: 10px;
  color: $deep-blue;
}
