.wrapper {
  padding: 20px;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.resetText {
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
  max-width: 370px;
  margin-top: 8px;
}

.inputWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@import '../../styles/variables.scss';

.inputSyle {
  height: 50px;
  width: 385px;
  margin-top: 5px;
}

.logInButton {
  width: 100%;
  background: $deep-blue;
  height: 50px;
  border-radius: 8px;
  margin-top: 26px;
  text-transform: none !important;
}

.logInButton:hover {
  background: $deep-blue;
}
