@import 'src/styles/variables';
.categoryItem {
  display: flex;
  justify-content: space-between;
  width: 288px;
  border-radius: 8px;
  align-items: center;
  gap: 10px;
  padding-inline: 12px;
  height: 45px;
  cursor: pointer;
}
.arrow {
  display: none;
  border: solid $deep-blue;
  border-width: 0 2px 2px 0;
  transition: transform 0.5s;
  padding: 3px;
  transform: rotate(-45deg);
}
.textContent {
  display: flex;
  align-items: center;
  gap: 10px;
  & > p {
    color: $black;
    font-size: 15px;
    font-weight: 700;
  }
}
.activeItem {
  background-color: #eff6ff;
  & p {
    color: $deep-blue;
  }
  & > .arrow {
    display: inline-block;
  }
}
