@import '@/shared/styles/variables';

.faqItem {
  display: flex;
  flex-direction: column;
  padding: 28px 28px 12px 40px;
  border-radius: 14px;
  background-color: $white;
  gap: 14px;
  cursor: pointer;
}
.description {
  display: grid;
  grid-template-rows: 0fr;
  width: 75%;
  & > p {
    color: $black;
    font-size: $font-default;
    font-weight: $fweight-small;
    letter-spacing: 0.32px;
    overflow: hidden;
  }
  transition: all 0.5s;
}

.opened {
  grid-template-rows: 1fr;
  padding-bottom: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  & > h2 {
    color: $black;
    font-size: 22px;
    font-weight: $fweight-big;
  }
}
.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $deep-blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.5s;
}
.activeArrow {
  background-color: $light-graphite;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transition: transform 0.5s;
  padding: 3px;
}
.arrowUp {
  border-color: $black;
  transform: rotate(-135deg);
}
.arrowDown {
  transform: rotate(45deg);
  border-color: $white;
}
