@import '@/shared/styles/variables';

.faqItem {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 32px;
  border-radius: 14px;
  background-color: $white;
  cursor: pointer;
}

.description {
  display: grid;
  grid-template-rows: 0fr;
  width: 90%;
  & > p {
    color: $black;
    font-size: $font-default;
    font-weight: $fweight-medium;
    overflow: hidden;
    line-height: 160%;
    letter-spacing: 0.02em;
  }
  transition: all 0.5s;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > h2 {
    color: $black;
    font-size: 22px;
    font-weight: $fweight-big;
    line-height: 30px;
  }
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $deep-blue;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: background-color 0.5s , transform 0.5s;
  cursor: pointer;
}

.faqItem:active .arrow {
  background-color: $light-gray;
}

.opened {
   & > .description {
     grid-template-rows: 1fr;
     padding-block:8px;
   }
 }

@media screen and (hover:hover) {
  .faqItem:hover .arrow {
    background-color: $hover-deep-blue;
  }
}
.faqItem.opened .arrow {
  transform: rotate(180deg);
  background-color: $light-gray;
}