@import '@/shared/styles/variables';

.mainItem {
  position: relative;
  width: 456px;
  padding: 38px;
  @include breakpoint(lg) {
    width: 400px;
  }
}

.itemDescr {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-top: 35px;
  @include breakpoint(lg) {
    margin-top: 28px;
  }
}

.titleContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > p {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    max-width: 300px;
  }
}
.bottom {
  position: absolute;
  top:87px;
  left:10px;
}
.left {
  position: absolute;
  top:41px;
  left:10px;
}
.right {
  position: absolute;
  top:91px;
  right:146px;
  @include breakpoint(lg) {
    right: 120px;
  }
}