@import '@/shared/styles/variables';

.mainItem {
  position: relative;
  width: 456px;
  padding: 32px;
  @include breakpoint(lg) {
    width: 400px;
  }
}

.itemDescr {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-top: 26px;
  @include breakpoint(lg) {
    margin-top: 28px;
  }
}

.titleContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > p {
    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    max-width: 300px;
  }
}
.bottom {
  position: absolute;
  top:81px;
  left:0;
}
.left {
  position: absolute;
  top:41px;
  left:0;
}
.right {
  position: absolute;
  top:90px;
  right:157px;
  @include breakpoint(lg) {
    right: 120px;
  }
}