@import '../../styles/variables.scss';

.wrapper {
  width: calc(100% - 272px);
  margin-top: 100px;
  margin-inline: auto;
}

.linksWrapper {
  display: flex;
  justify-content: space-between;
}

.copuWrapper {
  display: flex;
  margin: 61px 0 14px 0;
}

.columnLinks {
  display: flex;
  flex-direction: column;
}

.copuText {
  color: $graphite;
  font-size: 13px;
  font-weight: 500;
  line-height: 29px;
  margin-right: 43px;
}
.colWrapper {
  display: flex;
  flex-direction: column;
}

.linksTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 13px;
}

.linkText {
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 10px;
  color: $black;
  max-width: 309px;
}

.logoText {
  margin: 35px 0 39px 0;
  max-width: 330px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.mail {
  cursor: pointer;
  color: $black;
}

.iconsWrapper {
  display: flex;
  gap:20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e8ebff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: background .3s;
}
.icon:hover {
  background: #D2E6FF;
}
.icon:active {
  background: #93C3FF;
}
.buttonWrapper {
  margin-top: 32px;
}