.categoryCatalogWrapper {
  display: flex;
  flex-direction: column;
  gap:20px;
}
.categoryCatalog {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:20px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.content {
  display: flex;
  justify-content: space-between;
  gap:15px;
}
.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}