.productsContainer {
  width: 100%;
  position: relative;
}
.productsWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.blur {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.blur > img {
  width: 100%;
  height: 100%;
}
.leftBlur {
  top: 0;
  left: 0;
}

.rightBlur {
  top: 0;
  right: 0;
}

.productsWrapper::-webkit-scrollbar {
  display: none;
}
