@import '/src/styles/variables';
.newProductWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
  position: relative;
  max-width: 320px;
  & > img:nth-child(1),
  & > img:nth-child(2) {
    position: absolute;
  }

  & > img:nth-child(1) {
    border-radius: 50%;
    top: 18px;
    left: 20px;
  }

  & > img:nth-child(2) {
    top: 18px;
    right: 20px;
  }
}

.status {
  font-size: 13px;
  font-weight: $fweight-big;
}
.goodStatus {
  color: #55c94d;

}

.mediumStatus {
  color: #D4AA12;
}

.statusWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 1px;
  height: 23px;
  background-color: #e6e6e6;
}
.itemName {
  font-size: 18px;
  font-weight: $fweight-big;
  line-height: 24px;
}
.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    color: $black;
    font-weight: 600;
  }
  & span:first-of-type {
    font-size: 15px;
  }

  & span:last-of-type {
    font-size: 13px;
  }
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  & > p {
    color: $white;
    font-size: 12px;
    font-weight: $fweight-big;
  }
}
.availableItem {
  background-color: #55C94D;
}
.unAvailableItem {
  background: linear-gradient(104deg, #f59045 0%, #e65071 100%);

}
.sellerInfoContainer {
  display: flex;
  gap: 6px;

  & > p {
    color: $graphite;
    font-size: 13px;
    font-weight: $fweight-big;
  }
}
