.productsContainer {
  width: 100%;
  position: relative;
}
.productsWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.swiper {
  & > div:first-child {
    display: flex;
    transition-timing-function: linear;
  }
}
.customWrapper {
  display: flex;
  width: 100%;
}