@import '/src/styles/variables';
.newProductWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 337px;
  position: relative;

  & > img:nth-child(1){
    position: absolute;
  }

  & > img:nth-child(1) {
    border-radius: 50%;
    top: 18px;
    left: 20px;
  }

}
.mainImageWrapper > img {
  width: 100%;
  height: 100%;
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  top: 18px;
  right: 20px;
  cursor: pointer;
  transition: background-color .3s;
}
.imageWrapper:hover {
  background-color: #EEE;
}
.imageWrapper:active {
  background-color: #C9C9C9;
}
.status {
  font-size: 13px;
  font-weight: $fweight-big;
}
.goodStatus {
  color: #55c94d;

}

.mediumStatus {
  color: #D4AA12;
}

.statusWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 1px;
  height: 23px;
  background-color: #e6e6e6;
}
.itemName {
  font-size: 18px;
  font-weight: $fweight-big;
  line-height: 24px;
}
.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  & > p {
    color: $white;
    font-size: 12px;
    font-weight: $fweight-big;
  }
}
.availableItem {
  background-color: #55C94D;
}
.unAvailableItem {
  background: linear-gradient(104deg, #f59045 0%, #e65071 100%);

}
.sellerInfoContainer {
  display: flex;
  gap: 6px;

  & > p {
    color: $graphite;
    font-size: 13px;
    font-weight: $fweight-big;
  }
}
.ratingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & span {
    color: $black;
    font-weight: 600;
  }
& > span {
  font-size: 13px;
}
  & > div:first-child > span {
    margin-left: 6px;
    font-size: 15px;
  }

}
.content {
  display: flex;
  flex-direction: column;
  gap:20px;
}