@import "src/styles/variables";

.brandWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 33%;
  min-width: 82px;
  height: 70px;
  border: 2px solid $light-graphite;
  background: $white;
}

.emptyCard {
  background: $light-graphite;
  width: 100%;
  height: 100%;
}