@import '../../styles/variables.scss';


.inputWrapper {
  display: flex;
  flex-direction: column;
  gap:20px;
  & > div:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.passwordIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.passActionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.savePass {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.savePass > label,
.hidePass {
  color: $graphite;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.hidePass {
  text-decoration: underline;
}

.otherLogInLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.otherLogInLine > hr {
  width: 100%;
  border: 1px solid $light-graphite;
}

.otherLogInLine > p {
  font-size: 13px;
  color: $graphite;
  font-weight: 600;
}

.savePass > span {
  text-decoration: underline;
}

.servicesWrapper {
  align-self: center;
}

.error  {
  color:#d32f2f;
}

