@import 'src/styles/variables';
.breadCrumbsWrapper {
  width: calc(100% - 272px);
  display: flex;
  gap: 8px;
  margin-top: 44px;
}
.breadCrumbsWrapper > a {
  color: $graphite;
  font-size: 13px;
  font-weight: 600;
}

.breadCrumbsWrapper > span:last-child {
  display: none;
}
