@import 'src/styles/variables';
.text {
  font-size: 15px;
  font-weight: 600;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.blueText {
  color: $deep-blue;
  cursor: pointer;
  margin-left: 6px;
}

.authHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
