@import '@/shared/styles/variables';

.mainItem {
  padding: 38px 26px 34px 34px;
  border-radius: 16px;
  border: 1px solid #e2e5e9;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageItem {
  background: #e2e5e9;
  height: 60px;
  width: 60px;
  border-radius: 6px;
}

.itemTitle {
  width: 576px;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  @include breakpoint(lg) {
    width: 490px;
  }
}

.itemDescr {
  width: 658px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-top: 24px;

}

.userWrapper {
  display: flex;
  margin-top: 24px;
}

.userIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  margin-right: 18px;
}

.userStatus {
  color: $graphite;
  font-size: 11px;
  font-weight: 600;
  line-height: 24px;
}

.userName {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
}
