.newProductsWrapper {
  display: flex;
  gap:20px;
  width: 100%;
  overflow-x:auto;
}
.newProductsSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
}