@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;

}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-size: 15px;
  font-weight: 600;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.blueText {
  color: $deep-blue;
  cursor: pointer;
  margin-left: 6px;
}

.iconsWrapper {
  display: flex;
  gap:16px;

}

.siteConnect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid $light-graphite;
  border-radius: 8px;

}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap:20px;
  & > div:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.passwordWrapper {
  position: relative;
}

.passwordIcon {
  position: absolute;
  right: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.savePass,
.hidePass {
  color: $graphite;
  cursor: pointer;
}

.hidePass {
  text-decoration: underline;
}

.createWrapperAccept {
  display: flex;
  gap: 16px;
  max-width: 370px;
  font-size: 15px;
  align-items: flex-start;
}

.savePass > span {
  text-decoration: underline;
}

.captchaStyle {
  align-self: center;
  transform: scale(1.26);
}
