@import '../../styles/variables.scss';

.wrapper {
  padding: 20px;
}

.rowContent {
  display: flex;
  align-items: center;
  margin-top: 10px;
  max-width: 370px;
  font-size: 15px;
}

.text {
  font-size: 15px;
  line-height: 20.49px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 9px;
}

.blueText {
  color: $deep-blue;
  cursor: pointer;
  margin-left: 6px;
}

.inputWrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.MuiOutlinedInput-root {
  border-radius: 8px;
}

.passwordWrapper {
  position: relative;
}

.passwordIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.passActionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.MuiCheckbox-root {
  padding: 0;
}
.savePass,
.hidePass {
  color: $graphite;
  cursor: pointer;
}

.hidePass {
  text-decoration: underline;
}

.logInButton {
  width: 100%;
  background: $deep-blue;
  height: 50px;
  border-radius: 8px;
  margin-top: 26px;
  text-transform: none !important;
}

.logInButton:hover {
  background: $deep-blue;
}

.otherLogInLine {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.otherLogInLine > hr {
  width: 100%;
  border: 1px solid $light-graphite;
  margin-top: 3px;
}

.orWrapper {
  margin: 0 20px;
  font-size: 13px;
  color: $graphite;
}

.otherSiteConnection {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.siteConnect {
  border: 1px solid $light-graphite;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.createWrapperAccept {
  display: flex;
  max-width: 370px;
  font-size: 15px;
  align-items: flex-start;
  margin-top: 25px;
}

.savePass > span {
  text-decoration: underline;
}

.checkLvlPass {
  color: $graphite;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}

.resetText {
  color: $black;
  font-size: 17px;
  max-width: 370px;
  margin-top: 8px;
}

.lvlPass {
  display: flex;
}

.lvlPass {
  margin-top: 10px;
}
.valuePassLvl {
  color: $deep-blue;
}

.grayLine {
  height: 2px;
  background: $light-graphite;
  width: 67%;
}

.blueLine {
  width: 33%;
  background: $deep-blue;
  height: 2px;
}

.fullLine {
  width: 100%;
  background: $deep-blue;
  height: 2px;
}

.captchaStyle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
