@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & > div:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.passwordWrapper {
  position: relative;
}

.passwordIcon {
  position: absolute;
  right: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.savePass,
.hidePass,
.savePass > span {
  color: $graphite;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.hidePass {
  text-decoration: underline;
}

.createWrapperAccept {
  display: flex;
  gap: 16px;
  max-width: 370px;
  font-size: 15px;
  align-items: flex-start;
}

.savePass > span {
  text-decoration: underline;
}
